# Байт-код и оптимизированные файлы
__pycache__/
*.py[cod]

# Файлы виртуального окружения
venv/
.venv

# Артефакты сборки и упаковки
build/
dist/
*.egg-info/

# Лог-файлы и временные данные
*.log
*.tmp

# Настройки IDE
.idea/
.vscode/

# Системные файлы (для macOS)
.DS_Store

# Файлы переменных окружения (секреты)
.env

# Контрольные точки Jupyter Notebook
.ipynb_checkpoints/